# Ignore "build" folder
build/*
build-*/

# Intellij-based IDE local settings
.idea/*

# Qt Creator local user settings files
*.user*

# test data
test/demo
test/demo_mem
test/cur/*
test/curm/*
test/new/*
test/newm/*

# OS Junk
.DS_Store
Thumbs.db
desktop.ini

#Files I can't be arsed to install normally, but dunno if I can legally include. Just dump these in the player folder it's much easier lol.
include/*
player/begin_code.h
player/close_code.h
player/doxyfile
player/SDL.h
player/SDL_active.h
player/SDL_audio.h
player/SDL_byteorder.h
player/SDL_cdrom.h
player/SDL_config.h.default
player/SDL_config_dreamcast.h
player/SDL_config_macos.h
player/SDL_config_macosx.h
player/SDL_config_minimal.h
player/SDL_config_nds.h
player/SDL_config_os2.h
player/SDL_config_symbian.h
player/SDL_config_win32.h
player/SDL_copying.h
player/SDL_cpuinfo.h
player/SDL_endian.h
player/SDL_error.h
player/SDL_events.h
player/SDL_getenv.h
player/SDL_joystick.h
player/SDL_keyboard.h
player/SDL_keysym.h
player/SDL_loadso.h
player/SDL_main.h
player/SDL_mouse.h
player/SDL_mutex.h
player/SDL_name.h
player/SDL_opengl.h
player/SDL_platform.h
player/SDL_quit.h
player/SDL_rwops.h
player/SDL_stdinc.h
player/SDL_thread.h
player/SDL_timer.h
player/SDL_types.h
player/SDL_version.h
player/SDL_video.h

.vs/*
build.ninja
player/CTestTestFile.cmake
out/*
player/cmake_install.cmake
*.cmake
